.img-list {
  height: 30px;
  max-width: 100%;
}

.add-button{
  margin-right: 23px;
  //margin-bottom: 20px;
}

.hr {
  background-color: #716d6d5e;
  border: none;
  display: block;
  height: 4px;
  margin: 1.5rem 0;
}

.notification.is-warning {
  background-color: #ffffff;
  color: rgb(50, 115, 220);
}
.notification {
  background-color: whitesmoke;
  border-radius: 23px;
  padding: 1.2rem 2.1rem 1.2rem 1.1rem;
  position: relative;
}

.notification > .delete {
  position: absolute;
  right: 0.5rem;
  top: 0.9rem;
}